@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
body {
    font-family: 'Inter', sans-serif;
    background-color: #165179;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

@layer components {
    .input-style {
        @apply bg-white w-full h-12 rounded-[13px] p-3;
        box-shadow: inset 2px 2px 4px 0px #00000040;
    }

    .input-style2 {
        @apply bg-white w-125 h-14 rounded-[14px] p-3;
    }

    .shadow-neu {
        box-shadow:
            4px 4px 8px 0px #9F9F9FBF,
            8px 8px 12px 0px #C2C2C240,
            -4px -4px 8px 0px #FFFFFFBF,
            -8px -8px 12px 0px #FFFFFF40;
    }
}